<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:aty="http://www.thunisoft.com">
 <head> 
  <meta type="aty-meta" name="javaLocation" content="com.thunisoft.bamboo.book.controller.EgBookDetailController.java" th:remove="all"> 
  <meta type="aty-meta" name="cssLocation" content="css/book/egBookDetail.css" th:remove="all"> 
  <meta type="aty-meta" name="jsLocation" content="js/book/egBookDetail.js" th:remove="all"> 
  <meta type="aty-meta" name="relation-table" content="dbatytegbook.t_eg_book" th:remove="all"> 
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"> 
  <link rel="stylesheet" th:href="@{/webjars/artery/artery-ui.css}"> 
  <link rel="stylesheet" aty:import> 
  <link rel="stylesheet" th:href="@{/css/book/egBookDetail.css}"> 
  <title>图书详情</title> 
  <base th:href="@{/}"> 
 </head> 
 <body> 
  <div id="app" style="height:100%;width:100%"> 
   <aty-form :data="rs" ref="form"> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.c_name"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.c_auth"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.d_publisher"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.f_price"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.d_buy"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.c_libraryid"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.c_isbn"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.c_version"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.i_photo"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.t_abst"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.n_valid"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.t_invalidreason"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.n_type"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.i_attach"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.d_booking"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.n_bookinguserid"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.n_lenduserid"></aty-detail-item> 
    <aty-detail-item aty:dict="dbatytegbook.t_eg_book.d_lend"></aty-detail-item> 
   </aty-form> 
  </div> 
  <script type="text/javascript" th:src="@{/webjars/vue/vue.min.js}"></script> 
  <script type="text/javascript" th:src="@{/webjars/artery/artery-ui.min.js}"></script> 
  <script type="text/javascript" aty:import></script> 
  <script th:inline="javascript">
      var rs = Artery.resolveObj(/*[[${rs}]]*/); 
    </script> 
  <script type="text/javascript" th:src="@{/js/book/egBookDetail.js}"></script>  
 </body>
</html>